<h2 md-dialog-title class="fade-slide-in">{{ employ.employer }}</h2>

<md-dialog-content class="fade-slide-in delay100">
  <p>{{ employ.position }}</p>
  <p>{{ employ.location }}</p>
  <p>{{ employ.start }} - {{ employ.end ? employ.end : 'currently' }}</p>
  <p>{{ employ.summary }}</p>
  <ul class="items">
    <li *ngFor="let highlight of employ.highlights">
      {{ highlight }}
    </li>
  </ul>
</md-dialog-content>

<md-dialog-actions class="fade-slide-in delay200">
  <a *ngIf="employ.url"
     href="{{ employ.url }}"
     md-raised-button
     color="primary">{{ 'labels.url' | translate }}</a>
  <button
    md-button
    md-dialog-close>{{ 'labels.close' | translate }}</button>
</md-dialog-actions>