<div class="dialog-wrapper">

  <div class="dialog-header"
       fxLayout="row"
       fxLayoutAlign="center center"
       [ngStyle]="{'color': employ?.color, 'background': employ?.backgroundColor }">
    <h2 fxFlex class="fade-slide-in">{{ employ?.employer }}</h2>

    <div fxFlex="50px">
      <button md-icon-button
              md-dialog-close>
        <md-icon class="md-24">highlight_off</md-icon>
      </button>
    </div>
  </div>

  <div class="dialog-body">

    <md-dialog-content class="fade-slide-in delay100">

      <div class="block">
        <div *ngIf="employ.location" fxLayout="row">
          <md-icon fxFlex="30px">place</md-icon>
          <span fxFlex>{{ employ.location }}</span>
        </div>

        <div class="card-date-range" fxLayout="row">
          <md-icon fxFlex="30px">date_range</md-icon>
          <card-date-range [startDate]="employ?.start"
                           [endDate]="employ?.end"
                           [calculateDuration]="true"></card-date-range>
        </div>
      </div>

      <div class="block">
        <h3 class="dialog-subtitle">{{ employ.summary }}</h3>

        <ul class="items">
          <li *ngFor="let highlight of employ?.highlights">
            {{ highlight }}
          </li>
        </ul>
      </div>

      <div class="block" *ngIf="employ?.keywords?.length > 1">
        <h3 class="dialog-subtitle">{{ 'labels.skills' | translate }}</h3>

        <div class="chip-wrapper">
          <md-chip-list>
            <div class="skill-container">
              <md-chip *ngFor="let key of employ?.keywords" [color]="color">
                {{ key }}
              </md-chip>
            </div>
          </md-chip-list>
        </div>
      </div>

      <div *ngIf="employ?.url || employ?.download">
        <a *ngIf="employ?.url"
           md-raised-button
           href="{{ employ?.url }}"
           target="_blank"
           color="primary">
          {{ 'labels.url' | translate }}
        </a>

        <a *ngIf="employ?.download"
           md-raised-button
           href="{{ '/assets/pdf/' + employ?.download }}"
           download
           (click)="$event.stopPropagation()"
           color="primary">
          <md-icon>file_download</md-icon>
          {{ 'labels.download' | translate }}
        </a>
      </div>

    </md-dialog-content>

  </div>

</div>