<h2 md-dialog-title class="fade-slide-in">{{ project.title }}</h2>

<md-dialog-content class="fade-slide-in delay100">
  <p>{{ project.category }} {{ project.role }}</p>
  <p>{{ project.employer }}</p>
  <p>{{ project.start }} - {{ project.end ? project.end : 'currently' }}</p>
  <p>{{ project.summary }}</p>
  <ul class="items">
    <li *ngFor="let highlight of project.highlights">
      {{ highlight }}
    </li>
  </ul>
</md-dialog-content>

<md-dialog-actions class="fade-slide-in delay200">
  <a *ngIf="project.url"
     href="{{ project.url }}"
     md-raised-button
     color="primary">URL</a>
  <button
    md-button
    md-dialog-close>Close</button>
</md-dialog-actions>