@include sub-heading-styles;

h2 {
  font-size: 2.5rem;
}

.mat-icon-button {
  margin-bottom: 2rem;
  text-align: right;

  .mat-icon {
    font-size: 2.2rem;
    height: auto;
    width: auto;
  }
}