<div *ngIf="typeScreen === SCREEN_TYPES.MOBILE" class="fade-slide-in delay250">
  <div class="profile-info-wrapper-sm"
       fxLayout="row"
       fxLayoutAlign="center center">
    <div fxFlex="50px">
      <img class="profile-pic-sm" src="{{ '/assets/images/' + info?.image }}">
    </div>

    <div class="name-wrapper-sm">
      {{ name }}
    </div>
  </div>

  <div class="tabs-container">
    <nav md-tab-nav-bar
         aria-label="curriculum navigation links">
      <a md-tab-link
         *ngFor="let tab of tabs; let i = index"
         [active]="tab.id === tabSelected"
         (click)="selectOption(tab.id)">
        <div class="md-tab-link-inner" fxLayoutAlign="center center">
          <md-icon class="tab-link-icon">{{ tab.iconName }}</md-icon>
          <span fxFlex>{{ ('labels.' + tabKeys[i]) | translate }}</span>
        </div>
      </a>
    </nav>
  </div>
</div>

<div *ngIf="typeScreen !== SCREEN_TYPES.MOBILE" class="sidebar-container fade-slide-in delay250">
  <div>
    <img class="profile-pic" src="{{ '/assets/images/' + info?.image }}">
    <span class="name-wrapper">{{ name }}</span>
  </div>

  <md-nav-list>
    <a md-list-item
       [ngClass]="{'active': tab.id === tabSelected}"
       *ngFor="let tab of tabs; let i = index"
       (click)="selectOption(tab.id)">
      <md-icon md-list-icon>{{ tab.iconName }}</md-icon>
      <span md-line>{{ ('labels.' + tabKeys[i]) | translate }}</span>
    </a>
  </md-nav-list>
</div>
