<div *ngIf="!isMediumUpView"
     class="tabs-container">
  <nav md-tab-nav-bar
       aria-label="curriculum navigation links">
    <a md-tab-link
       *ngFor="let tab of tabs; let i = index"
       fxFlex
       [active]="tab.id === tabSelected"
       fxLayoutAlign="center center"
       (click)="selectOption(tab.id)">
      <md-icon class="mat-24">{{ tab.iconName }}</md-icon>
      <span fxFlex>{{ 'app.tabs.' + i + '.text' | translate }}</span>
    </a>
  </nav>
</div>

<div *ngIf="isMediumUpView">
  <md-nav-list>
    <a md-list-item
       [ngClass]="{'active': tab.id === tabSelected}"
       *ngFor="let tab of tabs; let i = index"
       (click)="selectOption(tab.id)">
      <md-icon md-list-icon>{{ tab.iconName }}</md-icon>
      <span md-line>{{ 'app.tabs.' + i + '.text' | translate }}</span>
    </a>
  </md-nav-list>
</div>
