.tabs-container {
  overflow-x: auto;

  &::-webkit-scrollbar {
    display: none;
  }
}

.mat-tab-link {
  background-color: $white;
  height: 60px;
  line-height: 18px;
}

.active {
  background: $gray-lighter;
}

@media ($mat-medium-down) {
  nav {
    min-width: 800px;
  }
}
