$overflow-visible-y: 63px;

.video-container {
  display: flex;
  overflow: hidden;
  position: relative;
}

.video-bg {
  height: calc(100vh - #{$overflow-visible-y});
  object-fit: cover;
  width: 100vw;
  z-index: -1;
}
