.video-container {
  overflow: hidden;
  position: relative;
}

.video-bg {
  height: 100vh;
  object-fit: cover;
  width: 100vw;
  z-index: -1;
}

.video-bg-fade-in {
  animation: sharpen 1s both;
}

@keyframes sharpen {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
