<div class="block">
  <h2 class="sub-heading-styles">{{ 'labels.writingTitle' | translate }}</h2>

  <div *ngFor="let writing of writings">
    {{ writing.title }}
    {{ writing.flavor }}
    {{ writing.date }}
    {{ writing.publisher.name }}
    {{ writing.publisher.url }}
    {{ writing.author }}
    {{ writing.summary }}
  </div>
</div>

<div class="block">
  <h2 class="sub-heading-styles">{{ 'labels.speakingTitle' | translate }}</h2>

  <div *ngFor="let speaking of speakings">
    {{ speaking.title }}
    {{ speaking.role }}
    {{ speaking.event }}
    {{ speaking.location }}
    {{ speaking.date }}
    <span *ngFor="let highlight of speaking.highlights">
      {{ highlight }}
    </span>
  </div>
</div>
