.flex-container {
  margin-top: calc(100vh - #{$video-overflow-visible-y});
}

.swiper-slide {
  padding: 10px;
}

.menu-wrapper,
.container-wrapper {
  @media ($mat-medium-up) {
    @include shadow-default;
  }

  z-index: 1;

  &.grey {
    background: $gray-lightest-1;
  }

  &.white {
    background: $white;
  }
}

.menu-wrapper {
  @media ($mat-small-down) {
    z-index: 2;
  }
}
