/* Common */
$bg-base: $gray-lightest-1;
$border-color: $gray-lighter;

/* Fonts */
$color-base: $black-07;
$color-quote: $black-054;

/* Logo */
$logo-color: $gray-dark-1;

/* Footer */
$bg-footer: $aquamarine;
