/* Colors */

$black:                     #000000 !default;
$black-04:                  rgba(0, 0, 0, 0.4) !default;
$gray-dark-1:               #2b2b2b !default;
$gray-dark:                 #373a3c !default;
$gray:                      #55595c !default;
$gray-light:                #818a91 !default;
$gray-lighter:              #eceeef !default;
$gray-lightest:             #f7f7f9 !default;
$white:                     #FFFFFF !default;
$white-06:                  rgba(255,255,255,0.6) !default;

$brand-primary:             #0275d8 !default;
$brand-success:             #5cb85c !default;
$brand-info:                #5bc0de !default;
$brand-warning:             #f0ad4e !default;
$brand-danger:              #d9534f !default;
