$font-size-root: 14px;
$mat-body-font-size-base: rem($font-size-root) !default;
$mat-font-family: 'Roboto-Light', sans-serif;

$mat-xsmall-down: 'max-width: 600px';
$mat-small-down: 'max-width: 960px';
$mat-medium-down: 'max-width: 1280px';
$mat-large-down: 'max-width: 1960px';
$mat-xsmall-up: 'min-width: 600px';
$mat-small-up: 'min-width: 960px';
$mat-medium-up: 'max-width: 1280px';
$mat-large-up: 'max-width: 1960px';

// Delay classes
$total-delays: 50;
$interval-delay: 25;

