@mixin sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

@mixin card-grid {
  .padding {
    padding-bottom: 15px;
  }

  .card-columns {
    column-count: 4;
  }

  @media ($md-medium-up) {
    .card-columns {
      column-count: 3;
    }
  }

  @media ($md-small-down) {
    .card-columns {
      column-count: 2;
    }
  }

  @media ($md-xsmall-down) {
    .card-columns {
      column-count: 1;
    }
  }

  .card {
    cursor: pointer;
    display: inline-block;
    width: 100%; // Don't let them exceed the column width
  }
}