@mixin sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

@mixin card-grid {
  .padding {
    padding: 10px;
  }

  @media ($mat-small-down) {
    .flex-container {
      padding-top: 20px;
    }

    .padding {
      padding-bottom: 35px;
    }
  }

  .card {
    cursor: pointer;
    display: inline-block;
    width: 100%; // Don't let them exceed the column width
  }
}

@mixin loading-modules {
  .module {
    background: $white;
  }

  .separation {
    margin-bottom: 20px;
  }

  .line-wrapper {
    padding-left: 20px;
  }

  .line {
    background: $gray-lighter;
    height: 10px;
    margin: 10px 0;
  }

  .logo {
    @include mat-elevation(2);
    background: $gray-lighter;
    border-radius: rem(5);
    height: $logo-size;
    width: $logo-size;
  }
}

@mixin sub-heading-styles {
  .sub-heading-styles {
    margin-bottom: 2rem;
    margin-top: 0.5rem;
    text-align: center;
  }
}
