.mat-sidenav-side {
  background: transparent;
  position: fixed;

  &.mat-sidenav-end {
    &.mat-sidenav-opened,
    &.mat-sidenav-opening,
    &.mat-sidenav-closing {
      box-shadow: none;
    }
  }
}
