a {
  background: $gray-lighter;
  display: flex;
}

.md-sidenav-side {
  background: transparent;
  position: fixed;

  &.md-sidenav-end {
    &.md-sidenav-opened,
    &.md-sidenav-opening,
    &.md-sidenav-closing {
      box-shadow: none;
    }
  }
}
