<div class="block">
  <h2 class="sub-heading-styles">{{ 'labels.educationTitle' | translate }}</h2>


  <div class="flex-container"
       fxLayout="row"
       fxLayout.xs="column"
       fxLayoutWrap="wrap">
    <div *ngFor="let columnIndex of getColumnsNumber()" fxFlex.gt-md="33.3333%" fxFlex.md="50" fxFlex="100"
         class="padding-column">
      <template ngFor let-education [ngForOf]="educations" let-i="index">
        <card *ngIf="((i + 1) - columnIndex) % numberOfColumns === 0"
              class="card padding-card"
              [institution]="education?.institution"
              [logo]="education?.logo"
              [hideCardActions]="!education?.url">
          <div class="card-title">
            {{ education?.title }}
          </div>
          <card-date-range [startDate]="education.start"
                           [endDate]="education.end"
                           [calculateDuration]="false"
                           [showOnlyYear]="true"></card-date-range>
          <div class="card-content">
            <p *ngFor="let curriculum of education?.curriculum">
              {{ curriculum }}
            </p>
          </div>
          <div *ngIf="education?.url"
               class="card-actions">
            <a md-raised-button
               href="{{ education?.url }}"
               target="_blank"
               color="primary">{{ 'labels.url' | translate }}</a>
          </div>
        </card>
      </template>
    </div>
  </div>

</div>

<div class="block">
  <h3>{{ 'labels.languageTitle' | translate }}</h3>

  <div *ngFor="let language of languages" class="sub-block">
    <div class="highlight">{{ language?.language }}</div>
    <div>{{ language?.level }}</div>
  </div>
</div>

<div class="block">
  <h3>{{ 'labels.certificateTitle' | translate }}</h3>

  <div *ngFor="let certificate of certificates" class="sub-block">
    <div class="highlight">{{ certificate?.date | date: 'y' }}</div>
    <div>{{ certificate?.title }}</div>
    <div>{{ certificate?.location }}</div>
  </div>
</div>

<div class="block">
  <h3>{{ 'labels.seminarTitle' | translate }}</h3>

  <div *ngFor="let seminar of seminars" class="sub-block">
    <div class="highlight">{{ seminar?.date | date: 'y' }}</div>
    <div>{{ seminar?.title }}</div>
    <div>{{ seminar?.organism }}</div>
    <div>{{ seminar?.location }}</div>
  </div>
</div>