/* Common styles */

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

// WCAG
.sr-only {
  @include sr-only;
}

// Swiper
.swiper-pagination {
  @include sr-only;
}

@media (max-width: 600px) {
  .md-dialog-container {
    max-width: 100vw;
    height: 100vh;
  }
}