// Common styles
// ––––––––––––––––––––––––––––––––––––––––––––––––––

// Common styles

html, body {
  color: $color-base;
  font-family: $font-family-root;
  font-size: $font-size-root;
  margin: 0;
  padding: 0;
  width: 100%;
}

.no-scroll {
  overflow: hidden;
}

ul {
  font-size: 1.2rem;

  li {
    margin-bottom: 1.2rem;
  }
}

// WCAG

.sr-only {
  @include sr-only;
}

// Overwrite Swiper styles

.swiper-pagination {
  @include sr-only;
}

// Overwrite Material styles

// TODO: to remove when material fixes the issue
.mat-card .mat-card-header-text {
  height: 20px;
}

.mat-tab-links .mat-tab-link {
  opacity: 1;
}

.mat-nav-list .mat-list-item div.mat-list-text {
  padding: 0 5px;

  .mat-line {
    font-size: 14px;
  }
}

.sidebar-container .mat-nav-list {
  padding-top: 0;
}

.cdk-overlay-backdrop.cdk-overlay-backdrop-showing {
  background: $white;
  opacity: 1;
}

.cdk-overlay-container .mat-dialog-container {
  box-shadow: none;
}

div.mat-chip-list-wrapper .mat-chip:not(.mat-basic-chip) {
  background: transparent;
  border: 3px solid $color-base;
  margin: 0 7px 7px 0;
  font-size: 1.1rem;
}

div.mat-chip-list-wrapper .mat-chip:not(.mat-basic-chip),
div.mat-chip-list-wrapper .mat-chip:not(.mat-basic-chip):first-child,
div.mat-chip-list-wrapper .mat-chip:not(.mat-basic-chip):last-child {
  margin: 0 7px 7px 0;
}

.mat-dialog-container .mat-dialog-content {
  max-height: none;
  padding-bottom: 20px;
  padding-top: 20px;
}

// Full screen dialogs
div.cdk-overlay-container, .cdk-overlay-pane .mat-dialog-container {
  height: 100vh;
  width: 100vw;
  max-width: 100vw;
}

.cdk-overlay-pane .mat-dialog-container {
  padding: 0;
}

// Google maps

.gmnoprint a, .gmnoprint span, .gm-style-cc {
  display:none;
}
.gmnoprint div {
  background:none;
}
.map div > a {
  display: none;
}