.loading {
  background: $white;
  margin-top: calc(100vh - #{$video-overflow-visible-y});
}

.loading-sidebar,
.loading-container {
  @include shadow-default;
  background: $white;
  z-index: 1;
}

.loading-container {
  padding-bottom: 100px;
  padding-top: 25px;
}
