$total-height: 500px;

.loading {
  background: $white;
  height: $total-height;
  margin-top: calc(100vh - #{$video-overflow-visible-y});
}

.loading-sidebar,
.loading-container {
  background: $white;
  box-shadow: 10px 0px 14px 0px $black-02;
  padding-top: 25px;
  z-index: 1;
}
