<div (click)="willTriggerModal ? openModal($event) : null" class="card-container">
  <md-card>
    <md-card-header fxLayout="row"
                    fxLayoutAlign="center center">
      <div md-card-avatar
           fxFlex="{{ logoWidth }}">
        <img *ngIf="logo"
             class="mat-card-avatar"
             [ngStyle]="{ 'width': logoWidth, 'height': logoHeight }"
             src="{{ '/assets/images/' + logo }}">
        <md-icon *ngIf="!logo"
                 class="no-logo-icon">business
        </md-icon>
      </div>

      <div class="mat-card-header-text" fxFlex>
        <md-card-title>
          <ng-content select=".card-title"></ng-content>
        </md-card-title>
      </div>
    </md-card-header>

    <md-card-subtitle>
      <div *ngIf="event" class="event-location" fxLayout="row" fxLayoutAlign="center center">
        <md-icon fxFlex="30px">chat_bubble_outline</md-icon>
        <span fxFlex>{{ event }}</span>
      </div>
      <div *ngIf="location" class="card-location" fxLayout="row" fxLayoutAlign="center center">
        <md-icon fxFlex="30px">place</md-icon>
        <span fxFlex>{{ location }}</span>
      </div>
      <div *ngIf="employer" class="card-employer" fxLayout="row" fxLayoutAlign="center center">
        <md-icon fxFlex="30px">business</md-icon>
        <span fxFlex>{{ employer }}</span>
      </div>
      <div *ngIf="institution" class="card-institution" fxLayout="row" fxLayoutAlign="center center">
        <md-icon fxFlex="30px">account_balance</md-icon>
        <span fxFlex>{{ institution }}</span>
      </div>
      <div class="card-date-range" fxLayout="row" fxLayoutAlign="center center">
        <md-icon fxFlex="30px">date_range</md-icon>
        <span fxFlex>
          <ng-content select=".card-date"></ng-content>
          <ng-content select="card-date-range"></ng-content>
        </span>
      </div>
      <div *ngIf="author" class="card-author" fxLayout="row" fxLayoutAlign="center center">
        <md-icon fxFlex="30px">supervisor_account</md-icon>
        <span fxFlex>{{ author }}</span>
      </div>
    </md-card-subtitle>


    <md-card-content>
      <ng-content select=".card-content"></ng-content>
    </md-card-content>

    <md-card-actions *ngIf="!hideCardActions">
      <ng-content select=".card-actions"></ng-content>
    </md-card-actions>
  </md-card>
</div>
