@include sub-heading-styles;
@include shared-common-styles;

.map {
  height: $google-maps-height;
  margin: 0 -10px;
}

.contact-wrapper,
.social-wrapper {
  font-size: 1.4rem;

  .mat-button {
    font-size: 1.4rem;
    font-weight: 300;
    padding: 0;
  }
}

.contact-icon,
i {
  font-size: 2rem;
  margin-right: 1.2rem;
  vertical-align: middle;
  width: rem(24);
}

.separator {
  line-height: 2rem;
  margin-bottom: 1rem;
}
